
    <table>
        <tr>
            <td class="burger_list"><li>{{burger_name}}</li></td>
            <td class="burger_image_list"><img alt={{burger_name}} class="burger_img" src={{burger_src}}></td>
            <td class="burger_eat"><button class="change-devour" data-id="{{id}}" data-devour="{{devour}}">
		{{#if devour}}YUM!{{else}}TRY IT!{{/if}}
	</button></td>
        </tr>
    </table>
	
    
	


